:root{
	--black: #303030;
	--white: #fff;
	--red: #b53b20;
	--blue: #5093bd;
	--grey: #485154;
	--title-f: "Times New Roman", Times, serif;
	--text-f: "Verdana", Geneva, Tahoma, sans-serif;

  background-image: url("assets/fondo.webp");
  background-repeat: repeat;
  background-size: 10.0rem;
  animation: slide 120s infinite linear;
}

@keyframes bounce_in {
  0% {
    transform: translateY(-100.0);
    opacity: 0;
  }

  60% {
    transform: translateY(20.0);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    background-position: 800px,100px;
  }
}


body {
  color: var(--black);
  font-family: var(--text-f);
  line-height: 1.2rem;
  height: 100%;
  margin-left: 17rem;
  margin-right: 17rem;
  background-image: url("assets/papel1.webp");
  background-repeat: repeat;
  background-size: 15.0rem;
  box-shadow: -1px 10px 18px 2px rgb(0 0 0 / 75%);
  padding: 2rem;
}

h1, h2, h3 {
  font-family: var(--title-f);
  font-weight: 700;
}

h1 {
  opacity: 0;
  font-size: 2.5rem;
  text-align: center;
  line-height: 2.0rem;
  margin-top: 3rem;
  margin-bottom: 8rem;
  animation: bounce_in 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}


h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid h3{
  margin-bottom: 0;
  margin-top: 0;
}

p{
  text-align: justify;
  margin: 0 0 1rem;
  text-indent: 2rem each-line;
}

a{
  text-decoration: none;
  color: var(--red)
}

a:hover, .popup{
  text-decoration:dashed;
  text-decoration-line:underline;
}

img{
  height: auto;
  width: 100%;
}


.main-logo img{
  opacity: 0;
  height: 12rem;
  width: 100%;
  margin-top: 5rem;
  animation: bounce_in 1s;
  animation-fill-mode: forwards;
}

.index{
  text-align: center;
}

.portrait img{
  opacity: 0;
  height: 14rem;
  width: auto;
  animation: bounce_in 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  clip-path: polygon(50% 10%, 100% 31%, 100% 69%, 50% 90%, 0 69%, 0 32%);
  transition: clip-path 0.3s;
}

.portrait img:hover{
  clip-path: polygon(49% 17%, 95% 35%, 95% 63%, 49% 80%, 4% 63%, 4% 36%);
}

li {
  list-style: square;
}

figure{
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  color: var(--grey);
  font-size: 0.8rem;
}

hr{
  margin-top: 2rem;
  border: 2px dotted #a5a5a587;
  margin-bottom: 3rem;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

time {
  color: var(--grey);
  font-size:0.8rem;
}

section{
  margin-bottom: 3rem;
}



/*** HEADER ***/
header {
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin-bottom: 1rem;
}

header nav ul{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

header img{
  height: 50px;
  width: auto;
}

header a{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blue)
}

header a:hover{
  text-decoration: none;
}

header li{
  list-style: none;
}

header li a::before{
	content: "\25CF";
	color: var(--red); 
  padding-right: 0.3rem;
}


/*** FOOTER ***/
footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  font-size: 0.8rem;
  color: var(--grey);
  margin-top:3rem;
}

footer li{
  list-style:square;
}

footer a{
  color: var(--grey)
}

footer p{
  margin: 0;
}


/*** MAIN ***/
article {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*** GRIDS COMUN ***/
.grid, .grid-featured{
  display: grid;
  column-gap: 2rem;
}

.grid div, .grid-featured div{
  display: flex;
  flex-direction: column;
}

.grid-featured img, .grid img{
  border-radius: 2rem;
}

/*** TARJETA DESTACADA ***/
.grid-featured {
  grid-template-columns: 1fr 2fr;
  background-color: var(--white);
  border-radius: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 1.6rem;
  box-shadow: -1px 10px 18px 2px rgb(117 117 117 / 75%);
}

.grid-featured div{
  justify-content: center;
}

.grid-featured li{
  line-height: 1.7rem;
}

/*** GRID DEL CATALOGO ***/
.grid{
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: 0;
  animation: bounce_in 1s;
  animation-fill-mode: forwards;
}

.grid div{
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 8px 0 0 var(--red);
  border-color: var(--red);
  border-width: 2px;
  border-style:solid;
  flex-flow: wrap;
  row-gap: 0.5rem;
}

.grid div:hover{
  box-shadow: 0 5px 0 0 var(--red);
  border-bottom: 0;
  margin-top: 1px;
}


.tag{
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem;
  background-color: var(--blue);
  margin-right: 0.2rem;
  border-radius: 0.4rem;
  cursor:pointer;
}


/** POPUPS **/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  font-size: 0.8rem;
  width: 200px;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -9rem;
  border-radius:1rem;
  box-shadow: 0 5px 0 0 var(--black);
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1rem;
  border-width: 1rem;
  border-style: solid;
  border-color: var(--blue) transparent transparent transparent;
}

.popup .show {
  visibility: visible;
}

.grid-featured p, .grid p, footer p, .popup, .popuptext{
  text-indent: 0 each-line;
}


/** RESPONSIVE OVERRIDES **/

@media screen and (width <= 1200px) {
  body {
    margin-left: 10rem;
    margin-right: 10rem;
  }  

  footer {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (width <= 850px) {
  body {
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1rem;
  }

  .grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-logo img{
    margin-top:0.5rem;
  }

  .main-logo img{
    height: auto;
    width: 100%;
  
  }

  .portrait img{
    height: 14rem;
    width: auto;

  }


}

@media screen and (width <= 760px) {
  body {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    padding: 1rem;
  }

  p{
    text-indent: 0 each-line;
  }

  footer {
  grid-template-columns: none;
  grid-template-rows: 1fr;
  justify-content: space-between;
  }

}

@media only screen and (width <= 600px){
  .grid-featured {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr;
  }

  header {
    flex-direction: column;
    gap: 2rem;
  }

  header nav ul{
    display:inline;
    gap: 0.2rem;
    list-style: none;
    line-height: 2rem;
  }

  header img{
    height: 80px;
    width: auto;
  }

  h1{
    font-size: 2.0rem;
    margin-bottom: 1rem;
  }

  .grid, .grid div{
    display:grid;
    grid-template-columns: 1fr;
   
  }

  hr {
    margin: 1rem;
  }

  figure{
    justify-content:space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    height: 100%;
    width: auto;
  }
}

